.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Banner {
  background-image: url("./assets/Path\ 31.png") ;
  width: 100%;
  height: 900px;
  align-items: center;
  background-size: 100% 900px;

}

.HomeBanner {
  margin-top: 1%;
}

.Nav {
  padding-top: 2%;
}

.FeaturesBox {
  margin-top: 20%;
  margin-left: 1.2%;
padding-left: 6.5%;
}

