.ServiceBannerContainer {
  background-color: #6e2e99;
  width: 100%;
  height: 430px;
  padding-top: 5%;
}

.ServiceBannerHeading {
  /* position: absolute; */
  font-family: "Bebas Neue", sans-serif;
  font-size: 42px;
  text-align: center;
  font-weight: bold;
  color: #ffffff;
  margin-top: -500px;
  margin-left: 3.3%;
}

.ServiceBannerDescription {
  /* position: absolute; */
  font-family: "ServiceBannerDescription", sans-serif;
  width: 900px;
  font-size: 36px;
  font-weight: 600;
  color: #ffffff;
  margin-left: 27.85%;
  margin-top: -1%;
}

.design1 {
  position: relative;
  text-align: right;
  width: 200px;
  right: -30.9%;
  top: -260px;
}

.ServiceOrderButton {
  margin-left: 3.5%;
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  font-size: 18px;
  font-weight: 600;
  background-color: #43badf;
  width: 204px;
  height: 56px;
  border-radius: 10px;
  border: 0px;
}

.design2 {
  position: relative;
  left: -600px;
  top: -135px;
}
